# created by virtualenv automatically
venv/Lib
/venv/Scripts/activate
/venv/Scripts/activate.bat
/venv/Scripts/activate.fish
/venv/Scripts/activate.ps1
/venv/Scripts/activate.xsh
/venv/Scripts/activate_this.py
/venv/Scripts/cmark.exe
/venv/Scripts/deactivate.bat
/.idea/DirectoryWebApp.iml
/venv/Scripts/f2py.exe
/venv/Scripts/httpx.exe
/venv/Scripts/jsonlint
/venv/Scripts/keyring.exe
/.idea/misc.xml
/.idea/modules.xml
/venv/Scripts/normalizer.exe
/venv/Scripts/pip.exe
/venv/Scripts/pip3.10.exe
/venv/Scripts/pip3.exe
/venv/Scripts/pip-3.10.exe
/venv/Scripts/pkginfo.exe
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/venv/Scripts/pydoc.bat
/venv/Scripts/pygmentize.exe
/venv/Scripts/python.exe
/venv/Scripts/pythonw.exe
/venv/pyvenv.cfg
/venv/Scripts/rst2html.py
/venv/Scripts/rst2html4.py
/venv/Scripts/rst2html5.py
/venv/Scripts/rst2latex.py
/venv/Scripts/rst2man.py
/venv/Scripts/rst2odt.py
/venv/Scripts/rst2odt_prepstyles.py
/venv/Scripts/rst2pseudoxml.py
/venv/Scripts/rst2s5.py
/venv/Scripts/rst2xetex.py
/venv/Scripts/rst2xml.py
/venv/Scripts/rstpep2html.py
/venv/Scripts/twine.exe
/venv/Scripts/uvicorn.exe
/.idea/vcs.xml
/venv/Scripts/wheel.exe
/venv/Scripts/wheel3.10.exe
/venv/Scripts/wheel3.exe
/venv/Scripts/wheel-3.10.exe
/.idea/workspace.xml
